$mobile: 480px;
$landscape-sm: 767px;
$landscape-lg: 1023px;
$landscape-hd: 1024px;
$desktop: 1199px;
$desktop-hd: 1919px;
$regular: 'robotoregular', 'Arial', sans-serif;
$medium: 'robotomedium', 'Arial', sans-serif;
$codepro: 'code_proregular', 'Arial', sans-serif;

@font-face {
    font-family: 'robotoregular';
    src: url('../font/roboto-regular-webfont.eot');
    src: url('../font/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/roboto-regular-webfont.woff2') format('woff2'),
         url('../font/roboto-regular-webfont.woff') format('woff'),
         url('../font/roboto-regular-webfont.ttf') format('truetype'),
         url('../font/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotomedium';
    src: url('../font/roboto-medium-webfont.eot');
    src: url('../font/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/roboto-medium-webfont.woff2') format('woff2'),
         url('../font/roboto-medium-webfont.woff') format('woff'),
         url('../font/roboto-medium-webfont.ttf') format('truetype'),
         url('../font/roboto-medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'code_proregular';
    src: url('../font/code-pro-webfont.eot');
    src: url('../font/code-pro-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/code-pro-webfont.woff2') format('woff2'),
         url('../font/code-pro-webfont.woff') format('woff'),
         url('../font/code-pro-webfont.ttf') format('truetype'),
         url('../font/code-pro-webfont.svg#code_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	height: 100%;
	background-repeat: repeat;

	&.overflow-hidden {
		overflow: hidden;
	}
}

body {
	width: 100%;
	overflow: hidden;
	margin: 0;
	position: relative;
	background-color: #fff;
	color: #333;
	font-family: $regular;
	font-size: 16px;
	font-weight: 400;
	line-height: 23px;
	background-repeat: repeat;
}

body {

	* {
		box-sizing: border-box;
	}

	h1,
	h2,
	h3,
	h4 {
		font-family: $codepro;
		font-weight: 400;
		text-transform: uppercase;
		margin: 0;
		padding: 0;

		&.white {
			color: #fff;
		}
	}

	h1 {
		font-size: 40px;
		line-height: 48px;

		@media screen and (max-width: $mobile) {
			font-size: 34px;
		}
	}

	h2 {
		font-size: 36px;
		line-height: 43px;
	}

	a {
		transition: all ease .3s;
	}

	p {
		margin-top: 5px;
		margin-bottom: 10px;
	}
}

.sprite {
	display: none;
}

input,
textarea {
	outline: none;

	&:focus,
	&:hover,
	&:active {
		outline: none;
	}
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	font-family: $regular;
	width: 100%;
	font-size: 16px;
	padding-left: 25px;
	padding-right: 25px;
	border: 1px solid rgba(0, 0, 0, 0.2);
}

input[type="text"],
input[type="email"],
input[type="tel"] {
	line-height: 46px;
	min-height: 46px;
}

textarea {
	line-height: 19px;
}

input[type="text"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="date"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: $regular;
  color: #C4C4C4;
  font-style: italic;
}
input[type="text"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
input[type="date"]::-moz-placeholder,
textarea::-moz-placeholder { /* Firefox 19+ */
  font-family: $regular;
  color: #C4C4C4;
  font-style: italic;
}
input[type="text"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
input[type="date"]:-ms-input-placeholder,
textarea:-ms-input-placeholder { /* IE 10+ */
  font-family: $regular;
  color: #C4C4C4;
  font-style: italic;
}
input[type="text"]:-moz-placeholder,
input[type="tel"]:-moz-placeholder,
input[type="email"]:-moz-placeholder,
input[type="search"]:-moz-placeholder,
input[type="password"]:-moz-placeholder,
input[type="date"]:-moz-placeholder,
textarea { /* Firefox 18- */
  font-family: $regular;
  color: #C4C4C4;
  font-style: italic;
}

.input-error {
	border: 1px solid red!important;
}

button {
	outline: none;
}

.custom__checkbox__wrap {
	display: flex;
	align-items: flex-start;
	cursor: pointer;

	input[type="checkbox"] {
		width: 1px;
		height: 1px;
		position: absolute;
		visibility: hidden;

		&:checked {

			+ .custom__checkbox {

				&::before {
					visibility: visible;
					opacity: 1;
					transform: translate(0, 0);
				}
			}
		}
	}

	.custom__checkbox {
		display: block;
		width: 18px;
		height: 18px;
		border: 2px solid #C4C4C4;
		margin-right: 9px;
		position: relative;
		flex-shrink: 0;

		&::before {
			content: "";
			position: absolute;
			top: -3px;
			left: 0;
			width: 18px;
			height: 18px;
			background-image: url(../img/icon-check.svg);
			background-repeat: no-repeat;
			background-position: center;
			background-size: 18px;
			visibility: hidden;
			opacity: 0;
			transform: translate(10px, -10px);
			transition: all ease .3s;
		}
	}
}

.slick-slider {

	.slick-arrow {
		width: 30px;
		height: 30px;
		position: absolute;
		background-color: #fff;
		outline: none;
		transition: all ease .3s;
		cursor: pointer;
		z-index: 3;

		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 10px;
			height: 10px;
			opacity: 1;
			transition: all ease .3s;
		}
	}

	&.arrows-white {

		.slick-arrow {
			background-color: #fff;

			&::before {
				border-right: 2px solid #797979;
    			border-bottom: 2px solid #797979;
			}

			&:hover {
				background-color: #98C831;

				&::before {
					border-color: #fff;
				}
			}

			&.slick-disabled {
				background-color: #D6D6D6;

				&::before {
					border-color: #D6D6D6;
				}

				&:hover {
					background-color: #D6D6D6;

					&::before {
						border-color: #D6D6D6;
					}
				}
			}
		}
	}

	&.arrows-black {

		.slick-arrow {
			background-color: #3B3B3B;

			&::before {
				border-right: 2px solid #fff;
    			border-bottom: 2px solid #fff;
			}

			&:hover {
				background-color: #98C831;

				&::before {
					border-color: #fff;
				}
			}

			&.slick-disabled {
				background-color: #D6D6D6;

				&::before {
					border-color: #D6D6D6;
				}

				&:hover {
					background-color: #D6D6D6;

					&::before {
						border-color: #D6D6D6;
					}
				}
			}
		}
	}

	.slick-prev {
		&::before {
			margin-left: 3px;
			transform: translate(-50%, -50%) rotate(135deg);
		}
	}

	.slick-next {
		&::before {
			margin-left: -3px;
			transform: translate(-50%, -50%) rotate(-45deg);
		}
	}
}

.slick-slide {
	outline: none;
}

ul.custom__list {
	margin: 0;
	padding: 0;
	list-style: none;
	list-style-image: url(../img/icon-check.svg);

	li {
		font-size: 16px;
		line-height: 23px;
		margin-bottom: 17px;
		padding-left: 7px;

		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

ol.custom__list {
	margin: 0;
	padding: 0;
	list-style: none;
	counter-reset: list1;

	li {
		position: relative;
		margin-bottom: 50px;

		&::before {
			content: counter(list1);
			counter-increment: list1;
			display: inline-block; 
			vertical-align: middle;
			width: 55px;
			height: 55px;
			font-size: 36px;
			line-height: 55px;
			text-align: center;
			color: #fff;
			background-color: #98C831;
			margin-right: 20px;
			flex-shrink: 0;
		}

		&:nth-child(2n) {

			&::before {
				background-color: #7EC227;
			}
		}

		&:nth-child(3n) {
			
			&::before {
				background-color: #70B31A;
			}
		}

		&:nth-child(4n) {
			
			&::before {
				background-color: #5CA613;
			}
		}
	}
}

.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

header,
main,
footer {
	background-color: #fff;
	margin: 0 auto;
	position: relative; 
}

.clearfix::after {
	content: "";
	display: table;
	clear: both; 
}

.btn {
	display: block;
	font-family: $codepro;
	font-size: 16px;
	line-height: 50px;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
	max-width: 220px;
	min-height: 50px;
	color: #fff;
	background-color: #46B365;
	border: none;
	margin: 0 auto;
	padding: 0;
	padding-left: 10px;
	padding-right: 10px;
	flex-shrink: 0;
	cursor: pointer;
	transition: all ease .3s;

	&:hover {
		background-color: #98C831;
	}

	&:hover,
	&:focus,
	&:active {
		color: #fff;
		border: none;
		box-shadow: none;
	}

	&.small {
		line-height: 40px;
		min-height: 40px;
		max-width: 175px;
	}
}

.header {

	@media screen and (max-width: $mobile) {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 82px;

		@media screen and (max-width: $mobile) {
			height: auto;
			min-height: 0;
			flex-direction: column;
		}
	}

	.btn {
		margin: 0;

		@media screen and (max-width: $landscape-sm) {
			display: none;
		}
	}
}

.header__logo {
	width: 100%;
	max-width: 206px;
	height: 26px;
	margin-right: 40px;
	flex-shrink: 0;
	position: relative;

	@media screen and (max-width: $desktop) {
		margin-right: 15px;
	}

	@media screen and (max-width: $mobile) {
		margin-left: 0;
		margin-right: auto;
		margin-bottom: 10px;
	}

	svg {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		max-width: 100%;
		max-height: 100%;
	}
}

.header__menu {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	margin-right: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;

	@media screen and (max-width: $desktop) {
		margin-right: 10px;
	}

	@media screen and (max-width: 1140px) {
		width: 100%;
		position: fixed;
		top: 0;
		right: 0;
		padding-top: 15px;
		padding-bottom: 15px;
		margin: 0;
		background-color: #fff;
		transform: translate(0, -250px);
		transition: all ease-in-out .4s;
		z-index: 4;
		box-shadow: 0 9px 7.92px 0.08px rgba(0,0,0,.2);
	}

	@media screen and (max-width: $landscape-sm) {
		flex-direction: column;
	}

	&__item {
		font-family: $codepro;
		font-size: 14px;
		line-height: 17px;
		color: #333;
		text-transform: uppercase;
		text-decoration: none;

		@media screen and (max-width: $landscape-sm) {
			margin-bottom: 7px;
		}

		&:hover {
			color: #46B365;	
		}
	}

	.btn {
		display: none;

		@media screen and (max-width: $landscape-sm) {
			display: block;
		}
	}

	&.active {

		@media screen and (max-width: 1140px) {
			position: fixed;
			top: 0;
			right: 0;
			transform: translate(0, 0);
		}
	}
}

.header__phone {
	font-family: $codepro;
	font-size: 20px;
	line-height: 24px;
	color: #46B365;
	flex-shrink: 0;
	margin-left: auto;
	margin-right: 15px;
	text-decoration: none;

	@media screen and (max-width: $landscape-sm) {
		margin-right: 0;
	}

	@media screen and (max-width: $mobile) {
		margin-left: 0;
		margin-right: auto;
	}

	&:hover {
		color: #98C831;
	}
}

.btn__mob__menu {
  display: none;
  width: 28px;
  height: 28px;
  position: fixed;
  top: 65px;
  right: 16px;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  background-color: rgba(250, 250, 250, .8);;
  border-radius: 3px;
  cursor: pointer;
  z-index: 5;

  @media screen and (max-width: $mobile) {
	top: 9px;
  }

  @media screen and (max-width: 1140px) {
  	display: block;
  }

    span {
	  display: block;
	  position: absolute;
	  height: 4px;
	  width: 50%;
	  background: #98C831;
	  opacity: 1;
	  transform: rotate(0deg);
	  transition: .25s ease-in-out;

	  &:nth-child(even) {
  		left: 50%;
  		border-radius: 0 9px 9px 0;
	  }

	  &:nth-child(odd) {
		left:0px;
  		border-radius: 9px 0 0 9px;
	  }

	  &:nth-child(1),
	  &:nth-child(2) {
	  	top: 3px;
	  }

	  &:nth-child(3),
	  &:nth-child(4) {
	  	top: 12px;
	  }

	  &:nth-child(5),
	  &:nth-child(6) {
	  	top: 21px;
	  }
	}

  &.active {

  	span {

	  &:nth-child(1),
	  &:nth-child(6) {
	  	transform: rotate(45deg);
	  }

	  &:nth-child(2),
	  &:nth-child(5) {
	  	transform: rotate(-45deg);
	  }

	  &:nth-child(1) {
		left: 2px;
  		top: 7px;
	  }

	  &:nth-child(2) {
	  	left: calc(50% - 2px);
  		top: 7px;
	  }

	  &:nth-child(3) {
	  	left: -50%;
  		opacity: 0;
	  }

	  &:nth-child(4) {
	  	left: 100%;
  		opacity: 0;
	  }

	  &:nth-child(5) {
	  	left: 2px;
  		top: 17px;
	  }

	  &:nth-child(6) {
	  	left: calc(50% - 2px);
  		top: 17px;
	  }
	}
  }
}

.main__block {

	.container {
		display: flex;
		width: 100%;

		@media screen and (max-width: $landscape-sm) {
			flex-direction: column;
			padding-right: 0;
		}
	}
	
	&__side {
		display: flex;
		flex-direction: column;
		width: 100%;
		max-width: 630px;

		@media screen and (max-width: $landscape-sm) {
			max-width: 100%;
		}

		&__content {
			position: relative;
			height: auto;
			flex-grow: 1;

			@media screen and (max-width: 860px){
				max-height: 379px;
			}
		}

		&__image {
			position: absolute;
			top: 0;
			right: 0;
			width: 50vw;
			height: 100%;
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;

			@media screen and (max-width: $landscape-sm) {
				left: 0;
				right: auto;
				width: 100vw;
			}
		}

		&__list__wrap {
			background-color: rgba(51, 51, 51, 0.8);
			padding: 43px 10px 120px 0;
			max-width: 314px;
			height: 100%;
			position: relative;
			z-index: 2;

			@media screen and (max-width: $mobile) {
				padding-bottom: 60px;
				max-width: 63%;
			}

			&::before {
				content: "";
				position: absolute;
				top: 0;
				right: 100%;
				width: 1500px;
				height: 100%;
				background-color: rgba(51, 51, 51, 0.8);
			}
		}

		&__list {

			&__item {
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				margin-bottom: 21px;
				padding-left: 53px;
				position: relative;

				&:last-of-type {
					margin-bottom: 0;
				}

				&__image {
					position: absolute;
					top: 50%;
					left: 0;
					transform: translateY(-50%);
					width: 45px;
					height: 45px;

					svg {
						display: block;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						max-width: 100%;
						max-height: 100%;
					}

					&.icon-cocktail {
						svg {
							width: 28px;
							height: 29px;
						}
					}

					&.icon-cup {
						svg {
							width: 32px;
							height: 31px;
						}
					}

					&.icon-hat {
						svg {
							width: 32px;
							height: 33px;
						}
					}

					&.icon-plate {
						svg {
							width: 41px;
							height: 41px;
						}
					}
				}

				&__text {
					color: #fff;
					max-width: 150px;
				}
			}
		}
	}

	&__main {
		width: 100%;

		@media screen and (max-width: $landscape-sm) {
			max-width: 100%;
		}

		&__image__wrap {
			width: 100%;
			height: 393px;
			position: relative;

			@media screen and (max-width: $landscape-sm) {
				display: none;
			}
		}

		&__image {
			position: absolute;
			top: 0;
			left: 0;
			width: 50vw;
			height: 393px;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}

		&__list__wrap {
			padding-top: 42px;
			padding-bottom: 35px;
			padding-left: 75px;

			@media screen and (max-width: $mobile) {
				padding-left: 30px;
				padding-right: 15px;
			}
		}
	}

	&__heading {
		padding: 88px 20px 33px 0;
		background-color: #98C831;
		position: relative;
		z-index: 2;

		@media screen and (max-width: $landscape-sm) {
			padding-top: 45px;
		}

		&::before {
			content: "";
			position: absolute;
			top: 0;
			right: 100%;
			width: 1500px;
			height: 100%;
			background-color: #98C831;
		}
	}

	&__title {
		max-width: 450px;
		margin-bottom: 17px;

		&__under {
			font-size: 18px;
			line-height: 21px;
			color: #fff;
		}
	}
}

.btn__learn__more {
	display: block;
	font-family: $codepro;
	font-size: 14px;
	line-height: 40px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	width: 100%;
	min-height: 40px;
	color: #fff;
	background-color: #3B3B3B;
}

.block__title {
	font-family: $codepro;
	font-size: 36px;
	line-height: 43px;
	text-align: center;
	color: #333333;
	margin-bottom: 40px;

	@media screen and (max-width: $mobile) {
		font-size: 28px;
    	line-height: 1.3em;
	}
}

.work__block {
	padding-top: 80px;
	padding-bottom: 60px;

	@media screen and (max-width: $landscape-hd) {
		padding-top: 60px;
	}

	.block__title {
		margin-bottom: 55px;
	}

	&__list {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;

		@media screen and (max-width: $landscape-lg) {
			flex-direction: column;
		}

		&.animate {

			li {
				transform: translate(0, 0);
				opacity: 1;
				visibility: visible;

				&:nth-child(2n) {
					transform: translate(0, 0);
				}
			}
		}

		li {
			display: flex;
			align-items: center;
			width: 100%;
			max-width: 420px;
			transform: translate(-2000px, 0);
			opacity: 0;
			visibility: hidden;
			transition: all ease-in-out .55s;

			&:first-of-type {
				margin-left: -30px;

				@media screen and (max-width: $landscape-lg) {
					margin-left: 0;
				}
			}

			&:nth-child(2) {
				margin-left: 250px;

				@media screen and (max-width: $desktop) {
					margin-left: 150px;
				}

				@media screen and (max-width: $landscape-lg) {
					margin-left: 0;
				}
			}

			&:nth-child(2n) {
				order: 3;
				transform: translate(2000px, 0);

				@media screen and (max-width: $landscape-lg) {
					order: 2;
				}

				.work__block__list__item__text {
					max-width: 210px;
				}
			}

			&:nth-child(3n) {
				order: 2;

				@media screen and (max-width: $landscape-lg) {
					order: 3;
				}

				.work__block__list__item__text {

				}
			}

			&:nth-child(4n) {
				order: 4;

				.work__block__list__item__text {
					max-width: 370px;
				}
			}
		}

		&__item__text {
			font-size: 16px;
			line-height: 23px;
			max-width: 240px;
			display: block;
		}
	}
}

.categories__block {
	padding-top: 80px;
	padding-bottom: 90px;
	background-color: #3B3B3B;

	@media screen and (max-width: $landscape-hd) {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	.block__title {
		margin-bottom: 43px;
	}

	&__items__wrap {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px;
	}

	&__item {
		display: flex;
		flex-direction: column;
		height: 100%;
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.9);

		&__col {
			width: 33.3%;
			padding-left: 15px;
			padding-right: 15px;

			&:nth-child(1) {

			}

			&:nth-child(2n) {
				.categories__block__item__heading {
					background-color: #7EC227;
				}
			}

			&:nth-child(3n) {
				.categories__block__item__heading {
					background-color: #70B31A;
				}	
			}

			@media screen and (max-width: $landscape-lg) {
				width: 100%;
				margin-bottom: 30px;

				&:last-of-type {
					margin-bottom: 0;
				}
			}
		} 

		&__image__wrap {
			max-width: 100%;
		}

		&__image {
			display: block;
			max-width: 100%;
			height: auto;
			margin: 0 auto;
		}

		&__heading {
			font-family: $codepro;
			font-size: 24px;
			line-height: 60px;
			text-align: center;
			text-transform: uppercase;
			color: #fff;
			background-color: #98C831;
			cursor: pointer;
		}

		&__content {
			font-size: 16px;
			line-height: 23px;
			background-color: #fff;
			padding: 25px 21px 10px 30px;
			flex-grow: 1;

			@media screen and (max-width: $landscape-lg) {
				display: none;
			}

			@media screen and (max-width: $mobile) {
				padding: 25px 21px 10px 15px;
			}
		}

		&__list__wrap {
			background-color: #EFEFEF;
			padding: 26px 34px 43px 60px;
			flex-grow: 1;

			@media screen and (max-width: $landscape-lg) {
				display: none;
			}

			@media screen and (max-width: $mobile) {
				padding: 26px 34px 43px 45px;
			}
		}

		&__bottom {
			background-color: #fff;
			padding: 28px 15px 24px 15px;
		}

		&__size {
			display: none;
		}

		&__price {
			font-size: 35px;
			line-height: 42px;
			text-align: center;
			color: #46B365;
			margin-bottom: 14px;
		}

		.btn__order {
			margin-bottom: 20px;
		}

		&__more {
			font-size: 16px;
			line-height: 19px;
			text-align: center;
			color: #6D6D6D;
			display: block;

			&:hover {
				color: #46B365;
			}
		}
	}
}

.services__block {
	padding-top: 80px;
	padding-bottom: 95px;

	@media screen and (max-width: $landscape-hd) {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	.block__title {
		margin-bottom: 50px;
	}

	&__items__wrap {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		flex-wrap: wrap;

		@media screen and (max-width: $landscape-lg) {
			justify-content: center;
		}

		&.animate {

			.services__block__item {
				opacity: 1;
				visibility: visible;
				transform: translate(0, 0);

				&:nth-child(2n) {
					margin-top: 60px;
					transform: translate(0, 0);

					@media screen and (max-width: $mobile) {
						margin-top: 0;
						margin-left: 0;
					}
				}
			}
		}
	}

	&__item {
		max-width: 205px;
		padding-bottom: 30px;
		border-bottom: 8px solid #98C831;
		opacity: 0;
		visibility: hidden;
		transform: translate(0, 35px);
		transition: all ease-in-out .55s;

		@media screen and (max-width: $desktop) {
			max-width: 185px;
		}

		@media screen and (max-width: $landscape-lg) {
			max-width: 50%;
			width: 45%;
			margin-bottom: 40px;
		}

		@media screen and (max-width: $mobile) {
			transform: translate(-150px, 0);
			max-width: 100%;
			width: 100%;
			margin-bottom: 50px;
		}

		&:nth-child(2n) {
			margin-top: 60px;
			transform: translate(0, -35px);

			@media screen and (max-width: $landscape-lg) {
				margin-left: 15px;
			}

			@media screen and (max-width: $mobile) {
				margin-top: 0;
				margin-left: 0;
				transform: translate(150px, 0);
			}
		}

		&:last-of-type {
			margin-right: 0;

			@media screen and (max-width: $landscape-lg) {
				margin-bottom: 0;
			}
		}

		&__image {
			width: 75px;
			height: 75px;
			position: relative;
			margin: 0 auto;
			margin-bottom: 25px;

			svg {
				display: block;
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				max-width: 100%;
				max-height: 100%;
			}
			
			&.icon-doors {

				svg {
					width: 61px;
					height: 61px;
				}
			}

			&.icon-bucket {

				svg {
					width: 63px;
					height: 60px;
				}
			}

			&.icon-pencil {

				svg {
					width: 51px;
					height: 50px;
				}
			}

			&.icon-tape {

				svg {
					width: 62px;
					height: 47px;
				}
			}

			&.icon-truck {

				svg {
					width: 73px;
					height: 52px;
				}
			}
		}

		&__text {
			font-size: 16px;
			line-height: 23px;
			text-align: center;
		}
	}
}

.example__block {
	background-color: #F6F6F6;
	padding-top: 80px;
	padding-bottom: 90px;

	@media screen and (max-width: $landscape-hd) {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	.block__title {
		margin-bottom: 45px;
	}

	&__content {
		display: flex;
		justify-content: space-between;

		@media screen and (max-width: $landscape-lg) {
			flex-direction: column;
		}
	}

	&__slider__switches__wrap {
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-width: 235px;
		margin-right: 28px;

		@media screen and (max-width: $desktop) {
			justify-content: flex-start;
		}

		@media screen and (max-width: $landscape-sm) {
			margin-bottom: 20px;
			margin-right: 0;
		}
	}

	&__slider__switch {
		display: flex;
		align-items: center;
		font-family: $codepro;
		font-size: 16px;
		line-height: 25px;
		min-height: 104px;
		border-right: 8px solid #E1E1E1;
		padding-right: 25px;
		transition: all ease .3s;
		cursor: pointer;

		&:hover {
			color: #46B365;
			border-color: #CBCBCB;
		}

		&.active {
			border-color: #98C831;

			&:hover {
				color: #333;
				border-color: #98C831;
			}
		}
	}

	&__slider__wrap {
		display: flex;

		@media screen and (max-width: $landscape-lg) {
			margin-bottom: 30px;
			justify-content: space-around;
		}

		@media screen and (max-width: $landscape-sm) {
			flex-direction: column;
		}
	}

	&__slider {
		width: 100%;
		max-width: 524px;
		margin-right: 12px;

		@media screen and (max-width: $desktop) {
			max-width: 400px;
		}

		@media screen and (max-width: $landscape-lg) {
			margin-right: 0;
		}

		@media screen and (max-width: $landscape-sm) {
			margin: 0 auto;
		}

		@media screen and (max-width: $mobile) {
			max-width: 290px;
		}

		&__item {
			height: 524px;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;

			@media screen and (max-width: $desktop) {
				height: 400px;
			}

			@media screen and (max-width: $mobile) {
				height: 290px;
			}
		}

		.slick-prev,
		.slick-next {
			top: 25px;
			left: auto;
		}

		.slick-prev {
			right: 42px;
		}

		.slick-next {
			right: 10px;
		}
	}
}

.similar__door__form {
	width: 100%;
	max-width: 370px;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
	position: relative;

	@media screen and (max-width: $landscape-lg) {
		max-width: 100%;
	}

	&__heading {
		font-family: $codepro;
		font-size: 24px;
		line-height: 32px;
		color: #fff;
		background-color: #3B3B3B;
		padding: 25px 50px;

		@media screen and (max-width: $mobile) {
			padding: 25px 30px;
		}
	}

	&__title {
		max-width: 250px;

		@media screen and (max-width: $landscape-lg) {
			max-width: 100%;
		}
	}

	&__content {
		background-color: #fff;
		padding: 20px 50px 17px 50px;

		@media screen and (max-width: $mobile) {
			padding: 20px 30px 17px 30px;
		}
	}

	&__text {
		font-size: 15px;
		line-height: 21px;
		margin-bottom: 20px;
	}

	input {
		display: block;
		margin-bottom: 20px;
		max-width: 270px;
	}

	.btn {
		margin-left: 0;
		margin-bottom: 20px;
	}
}

.similar__door__reminder {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;

	&__content {
		width: 100%;
		min-height: 115px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 24px;
		line-height: 32px;
		text-transform: uppercase;
		color: #fff;
		background-color: #3B3B3B;
	}
}

.conf__policy {
	display: block;
	font-size: 12px;
	line-height: 17px;
}

.clients__block {
	padding-top: 80px;
	padding-bottom: 80px;

	@media screen and (max-width: $landscape-hd) {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	.block__title {
		margin-bottom: 70px;
	}

	&__slider {

		&__item {
			
			&__image {
				display: block;
				height: auto;
				margin: 0 auto;
			}
		}

		.slick-arrow {
			top: -25px;
			left: auto;
		}

		.slick-prev {
			right: 32px;

			@media screen and (max-width: $mobile) {
				right: 50%;
				transform: translate(-50%, -50%);
			}
		}

		.slick-next {
			right: 0;

			@media screen and (max-width: $mobile) {
				right: calc(50% - 60px);
				transform: translate(-50%, -50%);
			}
		}
	}
}

.advantages__block {
	display: flex;
	background-color: #3B3B3B;
	position: relative;

	.container {
		display: flex;
		position: relative;
	}

	.block__title {
		text-align: left;
		margin-bottom: 85px;

		@media screen and (max-width: $landscape-sm) {
			margin-bottom: 50px;
		}
	}

	&__side {
		width: 462px;
		height: 100%;
		margin-left: -130px;
		background-position: left;
		background-repeat: no-repeat;
		background-size: cover;
		flex-shrink: 0;

		@media screen and (max-width: $landscape-sm) {
			display: none;
		}
	}

	&__main {
		padding: 68px 154px 86px 80px;

		@media screen and (max-width: $landscape-sm) {
			padding: 68px 0 86px 0px;
		}
	}

	&__list {
		padding: 0;
		margin: 0;
		list-style: none;

		&.animate {
			.advantages__block__list__item {
				opacity: 1;
				visibility: visible;
				transform: translateX(0);
			}
		}

		&__item {
			color: #fff;
			padding-left: 43px;
			margin-bottom: 45px;
			position: relative;
			opacity: 0;
			visibility: hidden;
			transform: translateX(2000px);
			transition: all ease-in-out .55s;

			&::before {
				content: "";
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				width: 25px;
				height: 25px;
				background-image: url(../img/icon-square.svg);
				background-repeat: no-repeat;
				background-size: 25px;
				background-position: center;
			}

			&:last-of-type{
				margin-bottom: 0;
			}
		}
	}
}

.contacts__block {
	padding-bottom: 30px;

	.container {
		display: flex;
		flex-wrap: wrap;
	}

	.contacts__block__left,
	.contacts__block__right {
		width: 50%;

		@media screen and (max-width: $landscape-lg) {
			width: 100%;
		}
	}

	.contacts__block__left {

		.contacts__block__item {
			align-items: center;
		}

		@media screen and (max-width: $landscape-lg) {
			margin-bottom: 20px;
		}
	}

	.contacts__block__right {

		.contacts__block__item {
			align-items: flex-start;

			&__content {
				padding-top: 10px;
			}
		}
	}

	.block__title {
		font-size: 30px;
		line-height: 92px;
		margin-bottom: 0;

		@media screen and (max-width: $landscape-hd) {
			line-height: 82px;
		}
	}

	&__heading {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #98C831;
		min-height: 92px;
		margin-bottom: 40px;

		@media screen and (max-width: $landscape-hd) {
			min-height: 82px;
		}
	}

	&__content {

	}

	&__item {
		display: flex;
		padding-right: 70px;
		margin-bottom: 25px;

		@media screen and (max-width: $desktop) {
			padding-right: 30px;
		}

		@media screen and (max-width: $mobile) {
			padding-right: 10px;
		}

		&:last-of-type {
			margin-bottom: 0;
		}

		&__image {
			width: 35px;
			height: 40px;
			position: relative;
			margin-right: 18px;
			flex-shrink: 0;

			&.icon-placemark {
				svg {
					width: 27px;
					height: 39px;
				}
			}

			&.icon-phone {
				svg {
					width: 29px;
					height: 39px;
				}
			}

			&.icon-letter {
				svg {
					width: 29px;
					height: 22px;
				}
			}

			&.icon-clock {
				svg {
					width: 33px;
					height: 33px;
				}
			}

			svg {
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				max-width: 100%;
				max-height: 100%;
			}
		}

		&__content {
			display: flex;
			align-items: flex-start;

			@media screen and (max-width: $mobile) {
				flex-direction: column;
			}
		}

		&__inner__content {
			display: flex;
			align-items: flex-start;

			@media screen and (max-width: $mobile) {
				flex-direction: column;
			}

			.contacts__block__item__text {
				margin-right: 29px;

				&:last-of-type {
					margin-right: 0;
				}
			}
		}

		&__title {
			font-family: $medium;
			font-size: 16px;
			line-height: 24px;
			width: 165px;
			margin-right: 10px;
		}

		&__text {
			font-size: 16px;
			line-height: 24px;
		}
	}

	a {
		font-size: 16px;
		line-height: 24px;
		color: #333;
		text-decoration: none;
		white-space: nowrap;

		&:hover {
			color: #46B365;
		}
	}

	p {
		margin-top: 0;
		margin-bottom: 2px;

		&:last-of-type {
			margin: 0;
		}
	}
}

.map__block {

}

.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #F3F3F3;

	.container {
		display: flex;
	    align-items: center;
	    width: 100%;
		min-height: 46px;
	}

	.copyright {
		font-size: 14px;
		color: #505050;
		margin: 0 auto;
	}

	.copyright__texterra {
		display: flex;
		align-items: center;

		&__text {
			font-size: 13px;
			color: #837E7E;
		}

		&__link {
			display: block;
			width: 60px;
			height: 14px;
			margin-top: -3px;
			margin-left: 5px;
			flex-shrink: 0;
			position: relative;

			svg {
				width: 100%;
				height: 100%;
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}
}

.overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.6);
	z-index: 5;
}

.popup,
.popup__reminder {
	width: 100%;
	background-color: #fff;
	bottom: calc(50% + 1px);
	right: calc(50% + 1px);
	// transform: translate(calc( 50% + 2000px ), calc( 50% + 1px ));
	-ms-transform: translateY(50%) translateY(1px) translateX(50%) translateX(2000px);
	-webkit-transform:  translateY(50%) translateY(1px) translateX(50%) translateX(2000px);
	-moz-transform:  translateY(50%) translateY(1px) translateX(50%) translateX(2000px);
	transform:  translateY(50%) translateY(1px) translateX(50%) translateX(2000px);
	position: fixed;
	max-height: 100vh;
	overflow: auto;
	opacity: 0;
	visibility: hidden;
	transition: all ease-in-out .6s;
	will-change: transform;
	z-index: 9;

	&.active {
		opacity: 1;
		visibility: visible;
		// transform: translate(calc( 50% + 1px ), calc( 50% + 1px ));
		-ms-transform: translateY(50%) translateY(1px) translateX(50%) translateX(1px);
		-webkit-transform:  translateY(50%) translateY(1px) translateX(50%) translateX(1px);
		-moz-transform:  translateY(50%) translateY(1px) translateX(50%) translateX(1px);
		transform:  translateY(50%) translateY(1px) translateX(50%) translateX(1px);
	}
}

.popup__close {
	position: absolute;
	top: 12px;
	right: 30px;
	width: 18px;
	height: 18px;
	cursor: pointer;

	@media screen and (max-width: $mobile) {
		top: 27px;
		right: 40px;
	}

	&::before,
	&::after {
		content: "";
		position: absolute;
		top: 7px;
		left: 0;
		width: 18px;
		height: 2px;
		background-color: #fff;
	}

	&::before {
		transform: rotate(45deg);
	}

	&::after {
		transform: rotate(-45deg);
	}

	&.white {

		&::before,
		&::after {
			background-color: #fff;
		}
	}

	&.grey {

		&::before,
		&::after {
			background-color: #7F7F7F;
		}
	}
}

.popup__content {

}

.order__call__popup {
	// display: block;
	max-width: 370px;

	&__heading {
		font-family: $codepro;
		font-size: 24px;
		text-align: left;
		padding: 33px 36px 20px 53px;
		min-height: 82px;
		color: #fff;
		background-color: #98C831;

		@media screen and (max-width: $mobile) {
			padding-top: 60px;
		}
	}

	&__content {
		padding: 27px 48px 32px 50px;
	}
}

.order__call__form {

	&__text {
		font-size: 16px;
		line-height: 23px;
		margin-bottom: 24px;
	}

	input {
		margin-bottom: 27px;
	}

	.btn {
		margin-left: 0;
		margin-bottom: 25px;
	}
}

.order__call__popup__reminder {
	// display: block;
	min-height: 138px;
	font-family: $codepro;
	font-size: 24px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #fff;
	background-color: #98C831;
	max-width: 250px;

	.popup__reminder__content {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.leave__request__popup {
	padding: 60px 115px 83px 115px;

	@media screen and (max-width: 1399px) {
		padding: 50px;
		padding-top: 60px;
	}

	@media screen and (max-width: $landscape-lg) {
		padding: 20px;
		padding-top: 60px;
	}

	@media screen and (max-width: $mobile) {
		padding: 0px;
		padding-top: 60px;
		padding-bottom: 30px;
	}

	.popup__content {

	}
	
	&__title {
		font-family: $codepro;
		font-size: 24px;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 36px;
	}

	&__content {
		display: flex;
		margin-bottom: 40px;

		@media screen and (max-width: 860px) {
			flex-direction: column;	
		}
	}

	&__list__wrap {
		padding-left: 25px;
		margin-bottom: 30px;
	}

	&__bottom {
		min-height: 185px;
		background-color: #3B3B3B;
		padding: 28px;
		padding-bottom: 24px;
		position: relative;

		&__content {
			position: relative;
		}

		&__title {
			font-family: $codepro;
			font-size: 24px;
			line-height: 1.3em;
			letter-spacing: 0.05em;
			text-align: center;
			text-transform: uppercase;
			color: #fff;
			margin-bottom: 20px;
		}

		&__inputs__wrap {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: 23px;

			@media screen and (max-width: $landscape-sm) {
				flex-direction: column;
			}

			input {
				max-width: 270px;
				margin-right: 30px;

				@media screen and (max-width: $landscape-sm) {
					margin-right: 0;
					margin-bottom: 15px;
				}
			}

			.btn {
				margin: 0;
			}
		}

		.conf__policy {
			color: #fff;
			text-align: center;
		}
	}

	&__sliders__wrap {
		max-width: 585px;
		margin-right: 30px;

		@media screen and (max-width: $landscape-lg) {
			max-width: 437px;
		}

		@media screen and (max-width: 860px) {
			margin: 0 auto;
		}

		@media screen and (max-width: $mobile) {
			max-width: 290px;
		}
	}

	&__slider__main {
		margin-bottom: 10px;

		@media screen and (max-width: 860px) {
			margin-bottom: 20px;
		}

		&__item {
			height: 443px;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;

			@media screen and (max-width: $landscape-lg) {
				height: 330px;
			}

			@media screen and (max-width: $mobile) {
				height: 219px;
			}
		}
	}

	&__slider__nav {
		overflow: hidden;
		padding-bottom: 35px;

		.slick-track {
			display: flex;
			justify-content: flex-start;
			margin-left: 0;
		}

		.slick-list {
			margin-right: -11px;
		}

		&__item {
			width: 138px;
			height: 138px;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			cursor: pointer;

			&.slick-slide {
				margin-right: 11px;
			}
		}

		.slick-arrow {
			top: auto;
			left: auto;
			bottom: -15px;
		}

		.slick-prev {
			right: 32px;
		}

		.slick-next {
			right: 0;
		}
	}

	&__inner__content {

	}

	&__inner__title {
		font-family: $codepro;
		font-size: 16px;
		letter-spacing: 0.02em;
		text-transform: uppercase;
	}
	
	&__text {
		margin-bottom: 25px;

		p {
			font-size: 16px;
			line-height: 23px;
			margin-top: 0;
			margin-bottom: 20px;

			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}

	&__time {
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: $codepro;
		font-size: 16px;
		letter-spacing: 0.02em;
		text-transform: uppercase;
		color: #fff;
		background-color: #98C831;
		min-height: 59px;
		padding-left: 20px;
		padding-right: 20px;
		margin-bottom: 45px;

		@media screen and (max-width: 860px) {
			margin-bottom: 30px;
		}
	}

	&__services {
		margin-bottom: 20px;

		.leave__request__popup__inner__title {
			margin-bottom: 15px;
		}

		.custom__checkbox__wrap {
			margin-bottom: 11px;
			font-size: 14px;
			line-height: 20px;

			&:last-of-type {
				margin-bottom: 0;
			}
		}

		&__price {
			color: #46B365;
		}
	}

	&__color {
		display: flex;
		align-items: center;
		margin-bottom: 20px;

		@media screen and (max-width: $desktop) {
			flex-direction: column;
			align-items: flex-start;
		}

		.leave__request__popup__inner__title {
			margin-right: 20px;

			@media screen and (max-width: $desktop) {
				margin-right: 0;
				margin-bottom: 10px;
			}
		}

		input {
			max-width: 310px;
		}
	}

	&__note {
		font-size: 13px;

		a {
			color: #46B365;
			text-decoration: underline;
		}
	}

	&__size {
		margin-top: 20px;

		.leave__request__popup__inner__title {
			margin-bottom: 5px;
		}

		.leave__request__popup__size__text {
			margin-bottom: 10px;
		}
	}

	&__reminder {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #3B3B3B;
		
		&__content {
			margin: 0 auto;
			max-width: 314px;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			font-family: $codepro;
			font-size: 24px;
			letter-spacing: 0.05em;
			color: #fff;
			background-color: #46B365;
		}
	}

	.popup__close {
		width: 20px;
		height: 20px;
		top: 20px;
		right: 30px;

		&::before,
		&::after {
			width: 20px;
			top: 9px;
    		left: -1px;
		}

		@media screen and (max-width: $mobile) {
			top: 25px;
			right: 32px;
		}
	}
}

.leave__request__form {
	width: 100%;
}